* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
    margin-top: 10px;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .header{
    color: black;
    background: grey;
    padding-bottom: 3rem;
  }

  #bank {
    color: white;
    background: blue;
  }

  #work{
    color: white;
    background: yellow;
  }

  #repayBtn{
    color: white;
    background: red;
  }

  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    width: 18rem;
    height: 16rem;
    margin-left: 7rem;
  }

  .img-des{
    height: 130px;
    width: 130px;
  }

  #btnCard{
    display: flex;
    flex-direction:column;
  }

  #buyLaptop{
    width: 58rem;
    height: 20rem;
  }

  #laptopPic{
    margin-bottom: 20px;
  }

  button{
    margin-top: auto ;
    margin-right: 2rem;
    margin-left: -2rem;
    height: 40px;
  }

  #getLoan{
    margin: auto;
    width: 70px;
    color: white;
    background: green;
  }

  #salary{
    margin-top:6rem;
    margin-left: 4rem;
  }

  #balance{
      margin-top:6rem;
      margin-left: 4rem;
  }
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }